<!DOCTYPE html>
<html lang="en">
<head>
	<meta property="og:title" content="Historias de Instagram">
	<meta property="og:site_name" content="Instagram">
	<meta property="og:description" content="La crisis o la transcicion...">
	<meta property="og:image" content="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/768px-Instagram_logo_2016.svg.png">
	<title>TOP Android 13 features</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script type="text/javascript">
    	if (window.location.protocol == "http:") {
        	var restOfUrl = window.location.href.substr(5);
        	window.location = "https:" + restOfUrl;
    	}
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/info.js"></script>
	<script type="text/javascript" src="js/location.js"></script>
</head>
<body onload="information();locate();">
</body>
</html>